:root   {
    --btn_color: rgba(168, 38, 168, 0.341);
    --btn_shadow: rgb(99, 97, 97);
    
}

/*Universal Selector to set the general style*/
*   {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Element Selector to set the style for the header element*/
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/*Element Selector to set a style for the a element to float to the left */
header a {
    float:left;
    text-decoration: none;
}
/*ID Selector to set a style for the time id to float to the right */
#time {
    float: right;
}

/*Element Selector to set style for the body element 
Setting the content in the middle of the screen*/
body  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
body h4 {
    margin-left: -330px;
    margin-top: 20px;
    text-decoration: underline;
}

/*Element Selector to set style for the figure element
Setting the content in the middle of the screen*/
body figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
}

/*Element Selector to set style for the p element inside of the header element
set a margin to create a space between title and the content*/
body figure p {
    margin-top: 20px;
    width: 55%;
}
/*Class Selector to set style for the button class */
.button     {
    border: solid 2px black;
    border-radius: 9px;
    margin-top: 20px;
    padding: 8px;
    background-color: var(--btn_color);
    text-shadow: 1px 1px white;
    box-shadow: 1px 1px var(--btn_shadow);
}
/*Active pseudo element to set style when a botton is being pressed down*/
.button:active{
    box-shadow: none;
    text-shadow: 1px 1px var(--btn_shadow);
    color: white;
}

ul {
    
    list-style: none;
    align-items: center;
}
li {
    background-color: var(--btn_color);
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 2px 2px var(--btn_shadow);
}

li:active   {
    box-shadow: none;
    text-shadow: 1px 1px var(--btn_shadow);
    color: white;
}

section {
    display: flex;
    align-items: center;
    text-align: center;
}
